h1 {
  color: blue;
}

.clase {
  color: red;
}

.center{
    text-align: center;
}
.enumeracion {
    text-align: center;
    text-group-align: center;
    color: darkviolet;
    font-size: large;
}
.babosaElem {
    width: 200px;
    height: 200px;
    vertical-align: middle;
}